:root {
    --cores: steelblue;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

aside{
    width: 20rem;
    color: #333;
    text-align: center;
    position: relative;
    margin: 50px;
    border: 20px;
    padding: 2px;
    background-color: var(--cores);
}

aside img{
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 120px;
    left: 150px;
}

main {
    max-width: none;
}

main img {
    margin-left: 20px;
    width: 150px;
    height: auto;
    border: 1px solid var(--cores);
    padding: 2px;
    box-shadow: 0 0 10px gray;
    float: right;
}

p {
    padding: 0;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

nav {
    background-color: var(--cores);
    padding: 1px;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
}

h1 {
    color: var(--cores);
}

/* Seletores de Classe */

.caixa {
    margin: 1em;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1em;
    background-color: #ddd;
    color: #000;
}

.indentacao {
    padding-left: 2rem;
}